# `Problem Statement: `“Can we accurately predict the stock levels of products based on sales data and sensor data on an hourly basis in order to more intelligently procure products from our suppliers?”

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
data1 = pd.read_csv('Data/sample_sales_data.csv',index_col='Unnamed: 0')

In [25]:
data2 = pd.read_csv('Data/sensor_stock_levels.csv')

In [27]:
data1.head()

,transaction_id,timestamp,product_id,category,customer_type,unit_price,quantity,total,payment_type
0,a1c82654-c52c-45b3-8ce8-4c2a1efe63ed,2022-03-02 09:51:38,3bc6c1ea-0198-46de-9ffd-514ae3338713,fruit,gold,3.99,2,7.98,e-wallet
1,931ad550-09e8-4da6-beaa-8c9d17be9c60,2022-03-06 10:33:59,ad81b46c-bf38-41cf-9b54-5fe7f5eba93e,fruit,standard,3.99,1,3.99,e-wallet
2,ae133534-6f61-4cd6-b6b8-d1c1d8d90aea,2022-03-04 17:20:21,7c55cbd4-f306-4c04-a030-628cbe7867c1,fruit,premium,0.19,2,0.38,e-wallet
3,157cebd9-aaf0-475d-8a11-7c8e0f5b76e4,2022-03-02 17:23:58,80da8348-1707-403f-8be7-9e6deeccc883,fruit,gold,0.19,4,0.76,e-wallet
4,a81a6cd3-5e0c-44a2-826c-aea43e46c514,2022-03-05 14:32:43,7f5e86e6-f06f-45f6-bf44-27b095c9ad1d,fruit,basic,4.49,2,8.98,debit card

In [28]:
data2

,Unnamed: 0,id,timestamp,product_id,estimated_stock_pct
0,0,4220e505-c247-478d-9831-6b9f87a4488a,07-03-2022 12:13,f658605e-75f3-4fed-a655-c0903f344427,0.75
1,1,f2612b26-fc82-49ea-8940-0751fdd4d9ef,07-03-2022 16:39,de06083a-f5c0-451d-b2f4-9ab88b52609d,0.48
2,2,989a287f-67e6-4478-aa49-c3a35dac0e2e,01-03-2022 18:17,ce8f3a04-d1a4-43b1-a7c2-fa1b8e7674c8,0.58
3,3,af8e5683-d247-46ac-9909-1a77bdebefb2,02-03-2022 14:29,c21e3ba9-92a3-4745-92c2-6faef73223f7,0.79
4,4,08a32247-3f44-4002-85fb-c198434dd4bb,02-03-2022 13:46,7f478817-aa5b-44e9-9059-8045228c9eb0,0.22
...,...,...,...,...,...
14995,14995,b9bf6788-09f3-490b-959b-dc5b55edb4b6,04-03-2022 10:52,e37658de-3649-4ddb-9c73-b868dd69d3fe,0.66
14996,14996,9ff1cc01-020f-491a-bafd-13552dccff44,02-03-2022 12:25,fbeb39cc-8cd0-4143-bdfb-77658a02dec9,0.99
14997,14997,4d8101de-e8a2-4af9-9764-7a3a22aa7084,03-03-2022 17:36,8e21dcec-d775-4969-8334-05a37a5fd189,0.72
14998,14998,5f2a7b1e-b3c4-4395-8425-c960e22f701d,02-03-2022 19:42,9708cf5b-aa69-4320-a013-9d234c40e63f,0.95
14999,14999,af6f4493-e49d-4dcb-951d-308e6cce267b,06-03-2022 17:18,3bc6c1ea-0198-46de-9ffd-514ae3338713,0.75

In [33]:
merged = pd.merge(data1,data2,on='product_id',how='inner')

In [34]:
merged

,transaction_id,timestamp_x,product_id,category,customer_type,unit_price,quantity,total,payment_type,Unnamed: 0,id,timestamp_y,estimated_stock_pct
0,a1c82654-c52c-45b3-8ce8-4c2a1efe63ed,2022-03-02 09:51:38,3bc6c1ea-0198-46de-9ffd-514ae3338713,fruit,gold,3.99,2,7.98,e-wallet,164,5540da96-885e-4d17-aa33-5720ca9b57d5,03-03-2022 09:16,0.25
1,a1c82654-c52c-45b3-8ce8-4c2a1efe63ed,2022-03-02 09:51:38,3bc6c1ea-0198-46de-9ffd-514ae3338713,fruit,gold,3.99,2,7.98,e-wallet,172,e65514e8-2935-4921-baf8-2a9cf849a7f2,04-03-2022 17:52,0.23
2,a1c82654-c52c-45b3-8ce8-4c2a1efe63ed,2022-03-02 09:51:38,3bc6c1ea-0198-46de-9ffd-514ae3338713,fruit,gold,3.99,2,7.98,e-wallet,242,1faae309-bd2c-412c-b988-42e3086e2e86,07-03-2022 12:44,0.80
3,a1c82654-c52c-45b3-8ce8-4c2a1efe63ed,2022-03-02 09:51:38,3bc6c1ea-0198-46de-9ffd-514ae3338713,fruit,gold,3.99,2,7.98,e-wallet,343,d383beb7-6dd0-46b3-aaa3-a1141e0c94dd,02-03-2022 17:36,0.79
4,a1c82654-c52c-45b3-8ce8-4c2a1efe63ed,2022-03-02 09:51:38,3bc6c1ea-0198-46de-9ffd-514ae3338713,fruit,gold,3.99,2,7.98,e-wallet,465,9c0d4cbe-c00d-42c2-8489-263188ae0b17,07-03-2022 09:44,0.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...
435017,6c19b9fc-f86d-4526-9dfe-d8027a4d13ee,2022-03-03 18:22:09,bc6187a9-d508-482b-9ca6-590d1cc7524f,cleaning products,basic,14.19,2,28.38,e-wallet,14083,5666d021-7f86-4ab6-bc54-8d249804bdcc,06-03-2022 09:17,0.43
435018,6c19b9fc-f86d-4526-9dfe-d8027a4d13ee,2022-03-03 18:22:09,bc6187a9-d508-482b-9ca6-590d1cc7524f,cleaning products,basic,14.19,2,28.38,e-wallet,14182,84b8d08e-384b-4d56-ae6b-7718a32ba3cc,03-03-2022 15:51,0.67
435019,6c19b9fc-f86d-4526-9dfe-d8027a4d13ee,2022-03-03 18:22:09,bc6187a9-d508-482b-9ca6-590d1cc7524f,cleaning products,basic,14.19,2,28.38,e-wallet,14281,20da2b2b-11bc-4264-9ee8-7fe1587a7721,02-03-2022 17:07,0.92
435020,6c19b9fc-f86d-4526-9dfe-d8027a4d13ee,2022-03-03 18:22:09,bc6187a9-d508-482b-9ca6-590d1cc7524f,cleaning products,basic,14.19,2,28.38,e-wallet,14375,14b9efcd-c12a-4f25-a181-72600061d7f0,02-03-2022 17:42,0.21
435021,6c19b9fc-f86d-4526-9dfe-d8027a4d13ee,2022-03-03 18:22:09,bc6187a9-d508-482b-9ca6-590d1cc7524f,cleaning products,basic,14.19,2,28.38,e-wallet,14828,6dacecd0-897a-4195-b447-fceb8a5af5dd,06-03-2022 15:37,0.14

In [78]:
dict_=merged.groupby(merged['product_id'])['estimated_stock_pct'].sum().tolist()

In [81]:
prd_id = data['product_id'].unique().tolist()

In [82]:
dict_main={'total_capacity':dict_,'product_id':prd_id}

In [85]:
tc_df=pd.DataFrame(dict_main)

In [86]:
pd.merge(tc_df,merged,on='product_id',how='inner')

,total_capacity_x,product_id,transaction_id,timestamp_x,category,customer_type,unit_price,quantity,total,payment_type,Unnamed: 0,id,timestamp_y,estimated_stock_pct,total_capacity_y
0,1151.78,f658605e-75f3-4fed-a655-c0903f344427,db6ac626-91e4-455e-8afb-5ddbbe1edbb9,2022-03-05 15:24:01,canned foods,basic,8.99,1,8.99,credit card,0,4220e505-c247-478d-9831-6b9f87a4488a,07-03-2022 12:13,0.75,NaN
1,1151.78,f658605e-75f3-4fed-a655-c0903f344427,db6ac626-91e4-455e-8afb-5ddbbe1edbb9,2022-03-05 15:24:01,canned foods,basic,8.99,1,8.99,credit card,76,34ee4fa9-7024-43df-a4d6-a71d8b5a3e80,01-03-2022 09:22,0.77,NaN
2,1151.78,f658605e-75f3-4fed-a655-c0903f344427,db6ac626-91e4-455e-8afb-5ddbbe1edbb9,2022-03-05 15:24:01,canned foods,basic,8.99,1,8.99,credit card,210,dcec9429-161d-496d-ba9d-da13b4ee56dd,03-03-2022 15:59,0.68,NaN
3,1151.78,f658605e-75f3-4fed-a655-c0903f344427,db6ac626-91e4-455e-8afb-5ddbbe1edbb9,2022-03-05 15:24:01,canned foods,basic,8.99,1,8.99,credit card,1066,30283fbc-c88c-48f1-86f6-6e13bf4c0fac,02-03-2022 11:49,0.17,NaN
4,1151.78,f658605e-75f3-4fed-a655-c0903f344427,db6ac626-91e4-455e-8afb-5ddbbe1edbb9,2022-03-05 15:24:01,canned foods,basic,8.99,1,8.99,credit card,1145,500509cc-a5b3-4e03-b2cb-9289518250a4,03-03-2022 11:20,0.66,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435017,444.24,2ab19de3-f6ff-4344-ad59-e59fb6c9cfa8,af19d9fa-2390-4063-9a3b-b420e3e25efb,2022-03-05 09:17:54,cleaning products,standard,7.49,2,14.98,debit card,13915,61747160-e55b-4cd5-a8ac-2ca49127d7cc,05-03-2022 10:03,0.79,NaN
435018,444.24,2ab19de3-f6ff-4344-ad59-e59fb6c9cfa8,af19d9fa-2390-4063-9a3b-b420e3e25efb,2022-03-05 09:17:54,cleaning products,standard,7.49,2,14.98,debit card,14323,04500897-92c3-47da-8dcc-d35466ebe98b,04-03-2022 14:24,0.79,NaN
435019,444.24,2ab19de3-f6ff-4344-ad59-e59fb6c9cfa8,af19d9fa-2390-4063-9a3b-b420e3e25efb,2022-03-05 09:17:54,cleaning products,standard,7.49,2,14.98,debit card,14558,d2bbb9a9-79a3-43c6-bc1c-0d6407feed9b,03-03-2022 09:01,0.69,NaN
435020,444.24,2ab19de3-f6ff-4344-ad59-e59fb6c9cfa8,af19d9fa-2390-4063-9a3b-b420e3e25efb,2022-03-05 09:17:54,cleaning products,standard,7.49,2,14.98,debit card,14715,c89db580-ed29-41d2-b14c-3cf7fa040aa2,06-03-2022 10:03,0.84,NaN
435021,444.24,2ab19de3-f6ff-4344-ad59-e59fb6c9cfa8,af19d9fa-2390-4063-9a3b-b420e3e25efb,2022-03-05 09:17:54,cleaning products,standard,7.49,2,14.98,debit card,14764,55414ee5-2d19-4246-950c-e6315377483c,07-03-2022 13:33,0.90,NaN

In [11]:
data.groupby('category').agg({'quantity':'sum'})

                       quantity
category
baby products               543
baked goods                1089
baking                      648
beverages                   776
canned foods               1082
cheese                      783
cleaning products           725
condiments and sauces       450
dairy                       950
frozen                      660
fruit                      2439
kitchen                     955
meat                        939
medicine                    602
packaged foods             1280
personal care               455
pets                        395
refrigerated items         1065
seafood                     669
snacks                      652
spices and herbs            304
vegetables                 2124

# New Data

In [103]:
import pandas as pd
import numpy as np

In [117]:
sales = pd.read_csv('Data/sales.csv',index_col='Unnamed: 0')

In [118]:
sales_temp = pd.read_csv('Data/sensor_storage_temperature.csv',index_col='Unnamed: 0')

In [119]:
sales_stocks = pd.read_csv('Data/sensor_stock_levels.csv',index_col='Unnamed: 0')

In [124]:
sales.shape

(7829, 9)

In [125]:
sales_stocks.shape

(15000, 4)

In [126]:
sales_temp.shape

(23890, 3)